// Imports
@use 'variables';
@use 'mixins';

// Style Mobile
.containerFrom {
  // Container
  .formOrder {
    margin-top: 0.5rem;

    // Form
    .form {
      text-align: center;

      // Form Floating
      .form-floating {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;

        // Form Control & Form Select
        .form-control,
        .form-select {
          min-height: auto;
          height: auto;
          font-size: 0.8rem;
          padding: 0.8rem 0.5rem;

          &:focus {
            outline: none;
            box-shadow: none;
            border-color: variables.$primary;
          }

          &:invalid {
            border-color: variables.$danger;
          }
        }

        // Label
        label {
          font-size: 0.8rem;
          padding: 0.5rem;
        }
      }

      // Button
      .btn {
        font-size: 0.8rem;
        color: #fff;
        background-color: variables.$text-secondary;
      }
    }
  }
}

// Style Desktop
@media screen and (min-width: 1024px) {
  .containerFromOrder {
    @include mixins.position-absolute(
      $top: 0,
      $right: 0,
      $width: 15%,
      $height: 53dvh
    );
  }
}
