// Mixins Display
@mixin display-flex(
  $display: flex,
  $flex-direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// Mixins Position
@mixin position-absolute(
  $top: auto,
  $left: auto,
  $right: auto,
  $bottom: auto,
  $width: auto,
  $height: auto
) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  width: $width;
  height: $height;
}

// Mixins Sticky
@mixin sticky-top($top: 0, $z-index: 5) {
  position: sticky;
  top: $top;
  z-index: $z-index;
}
