// Mixins Display
@mixin display-flex(
  $display: flex,
  $flex-direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// Mixins Position
@mixin position-absolute($top: 0, $left: 0, $width: 100%, $height: 100%) {
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

// Mixins Sticky
@mixin sticky-top($top: 0, $z-index: 5) {
  position: sticky;
  top: $top;
  z-index: $z-index;
}
