// Imports
@use 'variables';
@use 'mixins';

// Style Mobile
.navbar {
  @include mixins.sticky-top($top: 0, $z-index: 5);
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--border);
  background-color: var(--background);

  //Container
  .container-fluid {
    // Logo
    .navbar-brand {
      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 1px;
      color: var(--text-main);
    }

    //Button Nav
    .navbar-toggler {
      font-size: 0.8rem;

      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid var(--primary);
      }
    }

    // Links
    .navbar-collapse {
      // Ul
      .navbar-nav {
        text-align: center;
        font-size: 0.8rem;
        margin: 0.8rem;
        padding: 0.2rem;
        border-top: 1px solid var(--border);

        // Li
        .nav-link {
          color: var(--text-muted);

          &:hover {
            color: var(--secondary);
          }

          &.active {
            font-weight: bold;
            color: var(--secondary);
          }
        }
      }

      // Date
      .navbar-date {
        text-align: center;
        font-weight: bold;
        font-size: 0.6rem;
        letter-spacing: 1px;
        color: var(--secondary);
      }
    }
  }
}

// Style Desktop
@media screen and (min-width: 1024px) {
  .navbar {
    width: 20%;
    height: 97dvh;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    box-shadow: var(--shadow);

    // Container
    .container-fluid {
      flex-direction: column;
      height: 95%;

      // Logo
      .navbar-brand {
        transition: all 0.3s ease-in-out;

        &:hover {
          text-decoration: underline;
          transform: scale(1.1);
          color: variables.$primary;
        }
      }

      // Links
      .navbar-collapse {
        flex-direction: column;
        align-items: center;

        // Ul
        .navbar-nav {
          flex-direction: column;
          gap: 0.5rem;
          padding: 0.5rem;

          // Li
          .nav-item {
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }

            &:hover a {
              color: var(--primary);
            }
          }
        }

        // Date
        .navbar-date {
          @include mixins.position-absolute($left: 0, $bottom: 0, $width: 100%);
          border-bottom: 0;
        }
      }
    }
  }
}
