@use 'variables';
@use 'mixins';

// --- Orquestación de Módulos ---
@forward 'bootstrap';
@forward 'sidebar';
// @forward 'stats';
// @forward 'formProducts';
// @forward 'products';
// @forward 'formOrder';
// @forward 'gráficas';

// --- Estilos Base Globales ---
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: variables.$font-family;
  font-weight: variables.$font-regular;
  line-height: 1.5;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-color: var(--background);
  color: var(--text-main);
  min-height: 100vh;
}

// Utilidades Globales de Texto
.text-main {
  color: var(--text-main);
}
.text-muted {
  color: var(--text-muted) !important;
}

// Enlaces
a {
  text-decoration: none;
  color: inherit;
  transition: variables.$transition-fast;
}
