// Imports
@use 'variables';
@forward 'bootstrap';
@forward 'navbar';
@forward 'formProducts';
@forward 'products';
@forward 'formOrder';
@forward 'footer';

// Global
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: variables.$font-family;
  background-color: variables.$background-default;
}
